<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-6">
      <form [formGroup]="form">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>

        <div class="form-outline mb-4">
          <label for="user" class="form-label"><strong>Usuario</strong></label>
          <input type="user" id="loginUsuario" class="form-control" formControlName="username"/>
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="loginPassword"><strong>Contraseña</strong></label>
          <input type="password" id="loginPassword" class="form-control" formControlName="password"/>
        </div>

        <div class="text-center mb-12">
          <div class="container">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <button (click)="login()" class="btn btn-primary btn-block"
                    [disabled]="form.invalid"
                  >
                      Iniciar Sesión</button>
              </div>
              <div class="col-md-4">
                <button (click)="registro()" class="btn btn-primary btn-block">Registrarse</button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
