<div class="container">
    <form 
        class="ml-4 mr-4"
        [formGroup] = "form"
    >
        <div class="row">
            <label>Nombre</label>
            <div class="col-8">
                <input type = "text" 
                    formControlName="nombre"
                    class="form-control">                
            </div>

        </div>

        
        <div class="row mt-4">
            <div class="col-3"></div>
            <div class="col-3">
                <button class="btn btn-info"
                 [disabled]="form.invalid"   
                 (click)="guardarAction()"
                >{{labelAction}}</button>
            </div>
            <div class="col-3">
                <button class="btn btn-secondary"
                    (click)="cancelarAction()"
                    >Cancelar</button>
            </div>
            <div class="col-3">
                
            </div>


        </div>

    </form>

</div>
