<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-6">
      <form [formGroup]="form">
        <h2 class="text-center mb-4">Registrar Usuario</h2>

        <div class="form-outline mb-4">
          <label for="user" class="form-label"><strong>Usuario</strong></label>
          <input type="user" id="loginUsuario" class="form-control" formControlName="username"/>
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="loginNombre"><strong>Nombres</strong></label>
          <input type="text" id="loginNames" class="form-control" formControlName="nombres"/>
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="loginApellidos"><strong>Apellidos</strong></label>
          <input type="text" id="loginLastNames" class="form-control" formControlName="apellidos"/>
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="loginEmail"><strong>Correo Electrónico</strong></label>
          <input type="email" id="loginEmail" class="form-control" formControlName="correo" />
        </div>

        <!--<div class="form-outline mb-4">
          <label class="form-label" for="loginDireccion"><strong>Dirección</strong></label>
          <input type="text" id="loginDireccion" class="form-control" required />
        </div>-->

        <div class="form-outline mb-4">
          <label class="form-label" for="loginTelefono"><strong>Teléfono</strong></label>
          <input type="text" id="loginTelefono" class="form-control" formControlName="telefono" />
        </div>

        <!--<div class="form-outline mb-4">
          <label for="tipoDeUsuario" class="form-label"
            ><strong>Tipo de Usuario</strong></label
          >
          <select class="form-select" id="tipoDeUsuario" required>
            <option selected disabled value="">Seleccione una opción</option>
            <option value="administrador">Administrador</option>
            <option value="veterinario">Veterinario</option>
            <option value="empleado">Empleado</option>
          </select>
        </div>-->

        <div class="form-outline mb-4">
          <label class="form-label" for="loginPassword"><strong>Contraseña</strong></label>
          <input type="password" id="loginPassword" class="form-control" formControlName="password"/>
        </div>

        <div class="text-center mb-12">
          <div class="container">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <button (click)="registro()" class="btn btn-primary btn-block" [disabled]="form.invalid">
                      Registrarse</button>
              </div>
              <div class="col-md-4">
                <button (click)="irLogin()" class="btn btn-primary btn-block">Ya tengo cuenta</button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
