<div class="container-fluid">
    <div class="row">
        <div class="container">
            <form [formGroup]="form">

                <div class="row">
                    <div class="col-md-4">
                        <label for="">Descripción</label>
                    </div>
                    <div class="col-md-4">
                        <input id="descripcion" class="form-control" type="text" formControlName="descripcion">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4">
                        <label for="">Valor</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" formControlName="valor">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button (click)="agregarDetalle()" [disabled]="form.invalid" class="btn btn-dark">Agregar</button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            
        </div>
    </div>
    <div class="row mt-4">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Descripción</th>
                <th scope="col">Valor</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let det of detalles">
                <td>{{det.descripcion}}</td>
                <td>{{det.valor}}</td>
                <td>
                    <a (click)="eliminar(det)">Eliminar</a>
                </td>
    
              </tr>
    
            </tbody>
          </table>
    </div>

    <div class="row mt-2">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button class="btn btn-dark" (click)="guardarDetalles()">Guardar</button>
        </div>
        <div class="col-md-4">
            <button (click)="cancelar()" class="btn btn-info">Cancelar</button>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>


