<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-6">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar"
          aria-label="Buscar"
          aria-describedby="searchButton"
        />
        <button class="btn btn-primary" type="button" id="searchButton">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <button
      class="btn btn-success mb-3 ms-3"
      [routerLink]="['/fichas-medicas/nueva']"
      type="button"
    >
      <i class="bi bi-plus"></i> Nueva Ficha
    </button>
    <app-ficha-medica
      *ngFor="let fichaMedica of listaFichasMedicas"
      [fichaMedica]="fichaMedica"
    ></app-ficha-medica>
  </div>
</div>
